<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="constr" connectionString="Server=localhost;Port=5432;Database=sdb_trucking;User Id=postgres;Password=root;"/>
    </connectionStrings>
</configuration>